<div style="text-align:center">
    <img src="./W3Schools_logo.svg.png" style="width:320px; height:auto">
    </br>
    <span>Link course : <a>https://www.w3schools.com/python/python_mysql_getstarted.asp</a></span>
    <span>Course to learn manipulating SQL using python & pandas</span>
</div>

# Table Of Contents

- 1 Intro
    - 1.1 [Intro](#Create-Connection)
    - 1.2 [Creating tables](#Creating-tables)

- # Necessary import

In [5]:
import mysql.connector
# localhost = 127.0.0.1
# name = testDB
# user = soso
# password = soso1234

- # Create Connection

In [12]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="soso",
    password="soso1234"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001D51F844C50>

- # Create db

In [9]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE testDB")

- # Checking if db exist already

In [13]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

- # Accessing it using the connection

In [16]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="soso",
    password="soso1234",
    database="testdb"
)

-    #### If the database does not exist, you will get an error.

- # Creating tables

In [31]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="soso",
    password="soso1234",
    database="testdb"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), Adress VARCHAR(255))")

- ### don't execute it will delete the table
- ### if table already exists use ALTER keyword instead of CREATE

In [30]:
drop_table_query = "DROP TABLE IF EXISTS Customers;"

mycursor.execute(drop_table_query)
print("Table 'Customers' deleted successufly.")

Table 'Customers' deleted successufly.

- # Checking table

In [32]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)