<div style="text-align:center">
    <img src="./W3Schools_logo.svg.png" style="width:320px; height:auto">
    </br>
    <span>Link course : <a>https://www.w3schools.com/python/python_mysql_getstarted.asp</a></span>
    <span>Course to learn manipulating SQL using python & pandas</span>
</div>

# Table Of Contents

- 1 Intro
    - 1.1 [Intro](#Create-Connection)
    - 1.2 [Creating tables](#Creating-tables)
    - 1.3 [Insert into table](#Insert-into-table)
    - 1.4 [Multiple Insert](#Multiple-Insert)
    - 1.5 [GET Inserted IDs](#GET-Inserted-IDs)

- # Necessary import

In [5]:
import mysql.connector
# localhost = 127.0.0.1
# name = testDB
# user = soso
# password = soso1234

- # Create Connection

In [12]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="soso",
    password="soso1234"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001D51F844C50>

- # Create db

In [9]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE testDB")

- # Checking if db exist already

In [13]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

- # Accessing it using the connection

In [16]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="soso",
    password="soso1234",
    database="testdb"
)

-    #### If the database does not exist, you will get an error.

- # Creating tables

In [31]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="soso",
    password="soso1234",
    database="testdb"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), Adress VARCHAR(255))")

- ### don't execute it will delete the table
- ### if table already exists use ALTER keyword instead of CREATE

In [30]:
drop_table_query = "DROP TABLE IF EXISTS Customers;"

mycursor.execute(drop_table_query)
print("Table 'Customers' deleted successufly.")

Table 'Customers' deleted successufly.

- # Checking table

In [32]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

- # Insert into table

In [34]:
sql = "INSERT INTO Customers (name, Adress) VALUES (%s, %s)" #i made a typos address is with double DD
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

- #### mydb.commit : is important to make change on db

- # Multiple Insert

- #### NOTICE :
To insert multiple rows into a table, use the executemany() method.

The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

In [36]:
sql = "INSERT INTO Customers (name, Adress) VALUES (%s, %s)"
val = [("Solayman", "Casa Hay hassani"),
         ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
       ]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "records were inserted")

13 records were inserted

- # GET Inserted IDs

- ### NOTICE:
    #### inserting more than one row, the id of the last inserted row is returned.

In [46]:
sql = "INSERT INTO customers (name, Adress) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("The record's ID is :", mycursor.lastrowid)

The record's ID is : 15